 body{
            font-family:Arial, Helvetica, sans-serif;
            overflow-x:hidden;
        }
        #content{
            padding: 15px;
            transition: margin-Left 0.7s;
            overflow: hidden;
            width: 100%;
           
        }
        .slide a{
            color: #000;
            font-size: 36px;
             position: fixed;
        }
        .nav .close{
            position:absolute;
            top: 8px;
            right: 22px;
            margin-Left: 50px;
            font-size: 30px;;
            color: rgb(0, 0, 0);
        }
        .nav{
            height: 100%;
            width: 0%;
            position: fixed;
            z-index: 1;
            top:0;
            left:0;
            background-color: #d8d8d8;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.7s;
        }
        .nav a.item{
            display:flex;
            flex-direction:row;
            padding:18px 30px;
            font-size: 30px;
            text-decoration: none;
            color: rgb(0, 0, 0);
            background-color: #ffffff;
            
        }
        .nav a.item:hover {
            color: #fff;
            background-color: #3d3d3d;
            transition: 0.8s;
        }
       .logo_img{
           width: 100px;
           height: 100px;
           padding: 10px;
       }
        .close_img{
            width:30px;
            height:30px;
          
        }
       #l1{
        margin:auto;
        font-size:20px;
        width: 1000px;
        height: 1000px;
        padding: 10px;
        border-bottom-left-radius: :50px;
        border-top-right-radius: 50px;
           background-color:darkgrey;
       }
.view_manga{
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    display:inline-grid;
    padding: 10px;
    width: 120px;
    height: 200px;
    border: solid black 1px;
    background-color: white;
}
.preview_manga{
width:100px;
height:180px;
margin: auto;
}
@font-face{
src:url(font/Ubuntu-Bold.ttf);

}
.preview_text{
 font-size: 20px;
text-align: center;
    background-color:aqua;
    width:auto;
    height:auto;
    border: solid black 2px;
    border-radius: 10px;
}
